body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.background{
    background-image: url('Simple\ Background\ for\ Presentation.jpeg');
    background-size: cover;
    background-position: center;
}
header{
    display: block;
    color:white;
    height: 10vh;
}
.logo{
    width: 1vw;
    height: auto;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav img{
    flex:0.2
}
nav ul{
    flex:auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap:10vh;
    padding-right: 5vh;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}
nav ul li a:hover{
    text-decoration: underline;
    transition: all 0.3s ease;
}
.sec-p-1{
    display:block;
    text-align: center;
    padding-top:27vh;
    padding-bottom: 15vh;
    color: white;
}
.sec-p-1 button{
    background-color: rgb(173, 109, 233);
    color: white;
    padding: 2vh 3vh;
    font-size: 2.5vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.sec-p-1 button:hover{
    background-color: rgb(123, 59, 183);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}
.sec-p-1 h1{
    font-size: 21vh;
    margin: 0;
    padding: 0;
    color:white
}
.span-1{
    display: flex;
    justify-content: center;
    gap: 10vh;
    font-size: 3vh;
}
.sec-1{
    height: 170vh;
}
.sec-p-2{
    text-align: center;
    padding: 10vh 20vh;
}
.sec-p-2 h2{
    font-size: 7.5vh;
    margin-bottom: 10vh;
    font-weight: normal;
}
.sec-p-2-div{
    display:flex;
    justify-content: center;
    gap: 10vh;
    color: white;
    font-weight: 400;
}
.sec-p-2-div img{
    width: 25vh;
    height: auto;
    clip-path: circle(50% at 50% 50%);
}
.sec-2{
    background-color:steelblue;
    height: 40vh;
    color: white;
    text-align: center;
    display: flex;
    padding-top: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sec-2-div{
    flex: 1;
}
.sec-2-div img{
    position: relative;
    left: 20%;
    bottom: 14%;
    width: 17vw;
    height: auto;
    clip-path: circle(50% at 50% 50%);
}
.sec-2-div-1{
    flex: 2;
    position: relative;
    bottom: 8%;
    text-align: left;
}
.sec-3{
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}
.sec-3-div{
    flex: 1;
    padding-left: 2vw;
}
.sec-3-div-img{
    width: 20vw;
    height: 25vh;
}
.sec-3-div h3 p{
    text-align: left;
    position: relative;
    bottom: 12vh;
}
.stars{
    display: flex;
    gap: 1vh;
    position: relative;
    bottom: 5%;
}
.play-btn{
    width: 3vw;
    height: auto;
    position: relative;
    bottom: 17vh;
    right: 70%;
    opacity: 0.75;
}
#play-btn{
    width: 3vw;
    height: auto;
    position: relative;
    bottom: 17vh;
    right: 60%;
    opacity: 0.75;
}
.author-img{
    width: 5vh;
    height: auto;
}
.author{
    display: flex;
    align-items: center;
    gap: 1vh;
}
.span-2{
    padding-left: 7vw;
}
@media (max-width: 768px){
    .sec-1{
        height: 100vh;
    }
    .sec-p-2{
        display: none;
    }
    .sec-3{
        flex-direction: column;
    }
    .sec-3-div, .sec-3-div h3, .sec-3-div p, .stars, .author, .author-img{
        align-items: center;
        justify-content: center;
        text-align:center;
        padding: 0;
        margin-bottom: 5vh;
    }
    .author .stars {
        margin-top: -5vh;
    }
    .author-img{
        width: 7vh;
        height: auto;
        padding-top: 4vh;
    }
    .sec-3-div-img{
        width: 50vw;
        height: auto;
    }
    .play-btn{
        width: 6vw;
        bottom: 15vh;
        right: 38%;
    }
    #play-btn{
        width: 6vw;
        bottom: 25vh;
        right: 30%;
    }
}
